# Ignore backend folder completely
backend/

# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Local env files
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Misc
*.log
